#titulo img{
    z-index: -1;
}
#conteudo{
    padding: 0;
}
#conteudo .column{
    height: 50vh;
    background: url(../img/projetos.png) center center round;
    text-align: center;
    padding-top:25vh !important; 
    color: white;
    font-size: 6vh;
    font-weight: 900;
    position: relative;
}

#conteudo .column .tags{
    position: absolute;
    left: 1rem;
    top: 1rem;
}

.modal{
    display: flex;
}
.modal-content{
    width: 100%;
    padding: 1rem;
}
.delete::before, .modal-close::before, .delete::after, .modal-close::after{
    background-color: hsl(171, 100%, 41%);
}

.footer{
    padding: 2rem 0;
}